/* 全体設定 */
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", "Hiragino Kaku Gothic ProN", sans-serif;
    background: #fff3b0;
    color: #333;
}


/* ヘッダー */
header {
    background: #ffcc33;
    padding: 20px;
    text-align: center;
    border-bottom: 5px solid #ff9900;
}

header h1 {
    margin: 0;
    font-size: 32px;
}

header p {
    margin: 10px;
}


/* メイン */
main {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}


/* 各カード */
section {
    background: white;
    margin: 15px 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}


/* ひよこエリア */
.pet-area {
    text-align: center;
}


#pet {
    font-size: 120px;
    margin: 20px;
    transition: 0.3s;
}


/* セリフ */
#message {
    background: #fff8dc;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
}


/* 見出し */
h2 {
    color: #ff9900;
}


/* ステータス */
.status p,
.info p {
    font-size: 18px;
    margin: 8px;
}


/* ボタン */
button {
    background: #ffcc33;
    border: none;
    border-radius: 15px;

    padding: 12px;
    margin: 5px;

    font-size: 17px;
    cursor: pointer;

    transition: 0.2s;
}


button:hover {
    transform: scale(1.08);
    background: #ffd966;
}


button:active {
    transform: scale(0.95);
}


/* 持ち物・図鑑 */
#inventory,
#stickerBook,
#toyBook,
#event {

    background: #fff8dc;

    padding: 15px;

    border-radius: 15px;

    min-height: 30px;
}


/* フッター */
footer {

    text-align: center;

    padding: 20px;

    color: #777;

}



/* スマホ対応 */
@media(max-width:600px){

    header h1 {
        font-size: 24px;
    }


    #pet {
        font-size: 90px;
    }


    button {
        width: 90%;
        font-size: 18px;
    }

}
