body{

margin:0;

background:#fff2b8;

font-family:sans-serif;

text-align:center;

}


h1{

font-size:24px;

margin:10px;

}


#pet{

font-size:70px;

margin:5px;

}


#message{

background:white;

border-radius:15px;

padding:8px;

margin:auto;

width:80%;

font-size:16px;

}


.box{

background:white;

border-radius:15px;

padding:10px;

margin:10px auto;

width:85%;

box-shadow:0 3px 8px #aaa;

}


.small{

font-size:14px;

}


button{

font-size:20px;

padding:8px;

margin:3px;

border:0;

border-radius:12px;

background:#ffd34d;

}


button:active{

transform:scale(0.9);

}


.buttons{

margin:5px;

}
